bilibili.json
{
  "name": "bilibili2tg",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        1440,
        800
      ],
      "id": "e1bf6b1f-f92e-4bdd-85be-806e2e3d7c17"
    },
    {
      "parameters": {
        "url": "https://rsshub.app/bilibili/user/coin/79883009"
      },
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        1780,
        980
      ],
      "id": "2ecb95ad-b95c-403c-b5ca-1fb73acfde90"
    },
    {
      "parameters": {
        "unit": "hours"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        1560,
        980
      ],
      "id": "095358ed-6939-44f4-806d-99fa8c85b998"
    },
    {
      "parameters": {
        "chatId": "@hutalk",
        "text": "=▶️ {{$node[\"RSS Feed Read\"].json[\"title\"]}} #bilibili #coin\n\n{{$node[\"RSS Feed Read\"].json[\"link\"]}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2200,
        980
      ],
      "id": "3fa6b23b-c104-43e4-95b5-45413d58ff0c",
      "credentials": {
        "telegramApi": {
          "id": "CcgeVvRilGdDx3uG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "/* only return new items */\nconst staticData = getWorkflowStaticData('global');\nconst lastItemId = staticData.lastItemId;\n\nconsole.log('lastItemId', lastItemId);\nconst firstItem = items[0];\nlet newItems = [];\n\nfunction getId(item) {\n  return item.json.guid;\n}\n\nif (lastItemId) {\n  for (const item of items) {\n    if (getId(item) === lastItemId) {\n      break;\n    }\n    newItems.push(item)\n  }\n} else {\n  newItems = [firstItem]\n}\n\nstaticData.lastItemId = getId(firstItem)\nreturn newItems.reverse();"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1980,
        980
      ],
      "id": "5265f5b9-2103-401e-9043-c7184f71e1b7"
    }
  ],
  "pinData": {},
  "connections": {
    "Interval": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ef1a150-b142-4f06-93f6-772da218c471",
  "id": "g1dAmw8veSVVMtGX",
  "meta": {
    "instanceId": "eceba9f015414307db204126103719f591fd6a69e470e254233d6b955ba93c51"
  },
  "tags": []
}