blog.json
{
  "name": "blogrss2tg",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        460,
        660
      ],
      "id": "dd392fe8-0b67-4769-a480-895c5163ab72"
    },
    {
      "parameters": {
        "url": "https://zuofei.net/feed"
      },
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        680,
        460
      ],
      "id": "fbce3f27-af3d-4e98-bb4d-49ffca09df17"
    },
    {
      "parameters": {
        "interval": 10,
        "unit": "hours"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "fe12516f-a9b2-4d50-92c7-339f82809d3e"
    },
    {
      "parameters": {
        "chatId": "@hutalk",
        "text": "=📝 {{$node[\"RSS Feed Read\"].json[\"title\"]}} #blog\n\n{{$node[\"RSS Feed Read\"].json[\"link\"]}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1100,
        460
      ],
      "id": "86e2fdf6-4fe8-445a-9f4d-1d806076732c",
      "credentials": {
        "telegramApi": {
          "id": "CcgeVvRilGdDx3uG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "/* only return new items */\nconst staticData = getWorkflowStaticData('global');\nconst lastItemId = staticData.lastItemId;\n\nconsole.log('lastItemId', lastItemId);\nconst firstItem = items[0];\nlet newItems = [];\n\nfunction getId(item) {\n  return item.json.guid;\n}\n\nif (lastItemId) {\n  for (const item of items) {\n    if (getId(item) === lastItemId) {\n      break;\n    }\n    newItems.push(item)\n  }\n} else {\n  newItems = [firstItem]\n}\n\nstaticData.lastItemId = getId(firstItem)\nreturn newItems.reverse()"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        880,
        460
      ],
      "id": "eef9dbb9-bb3d-4802-a089-49f718775aa8"
    }
  ],
  "pinData": {},
  "connections": {
    "Interval": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "918a45a1-6d04-4ea8-95af-8e5dc8eba1f4",
  "id": "YcSB8UPk9cPOuEbI",
  "meta": {
    "instanceId": "eceba9f015414307db204126103719f591fd6a69e470e254233d6b955ba93c51"
  },
  "tags": []
}